
h1 {
  color: red;
  font-size: 38px;



}

p1 {
  color: blue;

  font-size: 30px:
}
p2 {
  color: pink;

  font-size: 30px:
}
p3 {
  color: purple;

  font-size:40px:
}

p {
  font-family: arial, sans-serif;
}

#M {
  color: purple
}

#F {
  color: blue
}

#B {
  color: green
}

#likes {
  color: pink;
  font-family: Courier;
  font-size: 20px
}

#swimming {
  color: blue;
  font-size: 20px
}

#hobbies {
  color: blue;
  font-size: 28px
}

#strokes {
  color: blue

}

#flash {
  color: pink;
    font-family: Courier
}

#fort {
  color: pink;
    font-family: Courier
}

#swim {
  color: pink;
    font-family: Courier
}

#sushi {
  color: pink;
    font-family: Courier
}

#dislikes {
  color: orange;
  font-family: Verdana;
  font-size: 20px
}


#pep {
  color: orange;
  font-family: Verdana;

}


#sun {
  color: orange;
  font-family: Verdana;

}
